@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --accent-color: #860c96;
    --gradient-dark: linear-gradient(135deg, #f6f6f6 0%, #ffffff 100%);
    --gradient-light: linear-gradient(135deg, #1a1a1a 0%, #000000 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(10, 10, 10, 0.432);
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    font-family: 'Playfair Display'
}

.logo object {
    width: 60px;
    height: 60px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent-color);
}

main {
    padding-top: 4rem;
}

section {
    padding: 5rem 10%;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

h1 {
    font-size: 4rem;
    background: var(--gradient-dark);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 3rem;
    color: var(--text-color);
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--gradient-light);
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    font-weight: 300;
}

#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.project-card {
    background: var(--gradient-light);
    border-radius: 10px;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.project-card h3 {
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.project-card p {
    margin-bottom: 1rem;
    font-weight: 300;
}

.project-card a {
    font-family: 'Playfair Display';
    display: inline-block;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 700;
    letter-spacing: 1px;
}

.project-card a:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

footer {
    text-align: center;
    padding: 2rem;
    background: #1d1d1d;
    color: #ffffff;
    backdrop-filter: blur(10px);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin-left: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

